  
        *{
            box-sizing: border-box;
        }
        body, h1,h2,h3{
            margin: 0;
			padding: 0;
        }

        body{
			color:#252525;
			font-family: sans-serif; 
        }

        section{
            padding: 30px;
        }

        section figure{
            text-align: center;
        }

        
        p{
            line-height: 1.4em;
        }

        h1{
            font-size: 4em;
        }

        h2{
            margin-top:30px;
            text-align: center;
            font-size: 3.5em;
            color:#2a507c;
        }


        h2 + p{
            font-size: 1.5em;
            font-weight: bold;

        }

        h3{
            font-size: 2.5em;
        }


        h3 + p{
            font-size: 1.3em;
        }

        .boton.mas-info{
       
            display: inline-block;
            padding: 10px;
            background: #ffffff;
            color: #234771;
            border:1px solid #234771;
            text-decoration: none;
            transition: all 0.2s;
   
        }

        .boton.mas-info:hover{
            display: inline-block;
            padding: 10px;
            background: #234771;
            color: #FFF;
            
 
        }
 
    

        header{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
            min-height: 200px;
            background: linear-gradient(rgba(64, 10, 150,0.6),rgba(64, 10, 150,0.1)),
                         url('../imagenes/fondo-inventos.jpg') right bottom/cover;
            color:#FFF;
                 
        }

        header h1, header p{
            margin:5px;
            padding: 0;
        }

        

		nav{
			padding: 1px;
			background: #000;

		}

		nav ul{
			display: flex;
			justify-content: center;
			list-style-type: none;
		}

		nav li{
			margin:0 10px;
		}
		
		nav li a{
			text-decoration: none;
			color:#FFF;
			font-weight: bold;
		}

        nav li a:hover{
		 
			color:#4f8dd3;
			 
		}


        
  

        /* -------------CAJA PADRE ----------------*/
        .cajaPadre{
            max-width: 1500px;
			display: flex;
			flex-wrap: wrap;
            margin:40px auto;
            
        }
 
        .cajaPadre .caja-invento{
        
           
            flex-basis: 33.33%;
            padding: 30px;
            border:1px solid #2a507c;
            text-align: center;

            background: #FFF ;

        }

        .cajaPadre .caja-invento:nth-child(even){
            background: #2a507c;
            color:#FFF;
        }

		.cajaPadre .caja-invento:nth-child(odd) img{
           max-width: 100%;
        }

        .caja-invento-explicado{
            max-width: 1500px;
            margin:0 auto;
        }

        

		  /* -------------FOOTER PRINCIPAL ----------------*/
		footer{
			padding: 30px;
			color:#FFF;
			background:#000 ;
			text-align: center;

		}


        /* -----------------CSS de invento lavadora---------------- */
        .invento-lavadora{
            background: linear-gradient(#000,transparent), url('../imagenes/candy-lavadoras.jpg') center center/cover;
            min-height: 400px;
        }


        .cajaPadre .caja-invento.lavadora{
            background: url(../imagenes/fondo-lavadora.jpg) center/cover;
        }

  